<script language="javascript" src="js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css"/>

<div class="container">
    <div class="col-xs-12">
        <h1>Results Page!</h1>
        <a href="/">< Go Back to Search</a>
        <hr>
    </div>
    <div class="col-xs-12">
        <p>Found: <%= data['totalResults'] %> Movies</p>
        <ul class="list-unstyled">
        <% data['Search'].forEach(function(movie) { %>
            <div style="margin-bottom: 12px;" class="row">
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <img class="img-responsive img-thumbnail" src="<%= movie['Poster'] %>" alt="<%= movie['Title'] %>">
                </div>
                <div class="col-xs-12 col-md-6 col-lg-8">
                    <li>
                        <strong>Title: </strong><%= movie['Title'] %>
                    </li>
                    <li>
                        <strong>Year: </strong><%= movie['Year'] %>
                    </li>
                </div>
            </div>
            <hr>
        <% }) %>
        </ul>
    </div>
</div>